@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Regular.woff");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 25% 3%;
    --card: 0 0% 100%;
    --card-foreground: 0 25% 3%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 25% 3%;
    --primary: 239 40% 26%;
    --primary-foreground: 0 0% 100%;
    --secondary: 143 22% 72%;
    --secondary-foreground: 0 25% 3%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 25% 70%;
    --accent: 187 79% 29%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 25% 3%;
    --border: 0 0% 90%;
    --input: 0 0% 20%;
    --ring: 187 79% 40%;
    --radius: 0.5rem;
    --pattern: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='8' height='8' fill='none' stroke='rgb(0 0 0 / 0.1)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 25% 97%;
    --card: 0 0% 0%;
    --card-foreground: 0 25% 97%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 25% 97%;
    --primary: 239 40% 74%;
    --primary-foreground: 0 0% 0%;
    --secondary: 143 22% 28%;
    --secondary-foreground: 0 25% 97%;
    --muted: 0 0% 80%;
    --muted-foreground: 0 25% 97%;
    --accent: 187 78% 71%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 25% 10%;
    --border: 0 0% 15%;
    --input: 0 0% 80%;
    --ring: 187 78% 60%;
    --pattern: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='8' height='8' fill='none' stroke='rgb(255 255 255 / 0.3)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

.pattern {
  background-image: var(--pattern);
}

.index-grid {
  grid-template-areas: "sidebar main aside";
  grid-template-columns: minmax(0, 350px) minmax(0, 1fr) minmax(0, 400px);
  margin: 0 auto;
  justify-content: center;
  width: 1400px;
}

.two-column-grid {
  grid-template-areas: "sidebar main";
  grid-template-columns: minmax(0, 450px) minmax(0, 1fr);
  margin: 0 auto;
  justify-content: center;
  width: 1400px;
}

@media only screen and (max-width: 1400px) {
  .index-grid {
    grid-template-columns: minmax(0, 300px) minmax(0, 387px) minmax(0, 330px);
    margin: 0 auto;
    width: 100%;
  }
  .two-column-grid {
    grid-template-columns: minmax(0, 350px) minmax(0, 1fr);
    margin: 0 auto;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media only screen and (max-width: 1200px) {
  .index-grid {
    grid-template-columns: minmax(0, 225px) minmax(0, 387px) minmax(0, 300px);
    margin: 0 auto;
    width: 100%;
  }
  .two-column-grid {
    grid-template-columns: minmax(0, 300px) minmax(0, 1fr);
    margin: 0 auto;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media only screen and (max-width: 973px) {
  .index-grid {
    grid-template-areas: "sidebar main";
    grid-template-columns: minmax(0, 225px) minmax(0, auto) 0px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .two-column-grid {
    grid-template-areas: "sidebar main";
    grid-template-columns: minmax(0, 275px) minmax(0, 1fr);
    padding-left: 16px;
    padding-right: 16px;
  }
  aside {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .index-grid,
  .two-column-grid {
    grid-template-areas:
      "sidebar"
      "main";
    grid-template-columns: minmax(0, 576px);
    padding: 0 1rem 1rem;
    margin-top: 12px;
  }
  aside {
    display: none;
  }
}
